In [1]:
%matplotlib inline 
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

import os, sys, pickle

## Files in Raw Data

In [4]:
list(map(print, os.listdir('raw')));

.DS_Store
secom_labels.data.txt
secom.names.txt
secom.data.txt

## Read Files

In [6]:
df_header = pd.read_csv('raw/secom_labels.data.txt', header=None, sep=' ')
df_value = pd.read_csv('raw/secom.data.txt', header=None, sep=' ')

df_header.columns = ['Label', 'Time']
df_header['Time'] = df_header['Time'].apply(lambda x: pd.to_datetime(x, format='%d/%m/%Y %H:%M:%S'))
df_header['Label'] = df_header['Label'].map({-1: 'Pass', 1: 'Fail'})

n_header_columns = df_header.shape[1]
n_value_columns = df_value.shape[1]

df_value.columns = [f'Measment {i}' for i in range(n_value_columns)]

## Sort Samples

In [7]:
df = pd.concat([df_header[['Time', 'Label']], df_value], axis=1)
df = df.sort_values('Time')

df_header = df.iloc[:n_header_columns]
df_value = df.iloc[n_header_columns:]

## Information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1567 entries, 0 to 1566
Columns: 592 entries, Time to Measment 589
dtypes: datetime64[ns](1), float64(590), object(1)
memory usage: 7.1+ MB

## Sample Rows

In [9]:
display(df.head())

,Time,Label,Measment 0,Measment 1,Measment 2,Measment 3,Measment 4,Measment 5,Measment 6,Measment 7,...,Measment 580,Measment 581,Measment 582,Measment 583,Measment 584,Measment 585,Measment 586,Measment 587,Measment 588,Measment 589
0,2008-07-19 11:55:00,Pass,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,2008-07-19 12:32:00,Pass,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2008-07-19 13:17:00,Fail,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2008-07-19 14:43:00,Pass,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,2008-07-19 15:22:00,Pass,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

## Save

In [10]:
data_dict = {
    'meta': df_header,
    'measurements': df_value,
}

pd.Series(data_dict).to_pickle('data.pkl')